@charset "utf-8"; /*utf-8の場合*/


.board .slider{
	position: absolute;
	margin-top:-40px;
	margin-bottom:-40px;
	top:50%;
	bottom:50%;	
	border-style: solid;
	cursor: pointer;
}

.board .toggles {
	position:absolute;
	left:auto;
	right:5px;
	top:-23px;
	font-size:13px;
}


.tri-prev {
	left:-40px;
	border-width: 40px 30px 40px 0;
	border-color: transparent #dddddd transparent transparent;

}
.tri-next {
	right:-40px;
	border-width: 40px 0 40px 30px;
	border-color: transparent transparent transparent #dddddd;
}

.board{
	width: 660px;
	position: relative;
	height: 540px;
	}

.black_captured_area, .white_captured_area
{
/*	background: url('../img/board/japanese-chess-bg.jpg');
*/	border: 1px solid #999999;
	width: 146px;
	height: 192px;
	overflow : hidden;
	padding: 10px;
	z-index:200;
	position: relative;
}

.piece_area{
	position: absolute;
}

.onboard{
	width : 50px;
	height: 53px;
/*	margin: -1px;
	border: dotted 1px #FF0000;
*/}

.captured{
	width : 60px;
	height: 360px;
	line-height:0px;
/*	border: dotted 1px #FF0000; */
}

.piece{
	margin:0px;
	width : 50px;
	height: 53px;
	float:left;
	clear: both;
/*	border:solid 1px #FF0000; */
}

/* 駒台処理で使用しているため削除しない！*/
.test{
	position: relative;
	height:55px;
	width:70px;
/*	border:solid 1px #0000FF; */ 
	padding-top:0px;
	text-align:right;
}

.piece-count {
	position: absolute;
	bottom:7px;
	right:7px;
	font-size:13pt;
	line-height:14pt;
	text-align:right;
}
.selected{
    background-color: rgba(51,51,51,0.6);
 }

.lastmoved{
    background-color: rgba(211,84,0,0.6);
 }

.draggable{
	cursor: pointer;
}

.movable{
	background-color:  rgba(51,101,51,0.6);
}

.dropin{
	background-color: rgba(71,150,71,0.8);
}

.moveto{
	background-color: rgba(71,150,71,0.8);
}
.captured-header{
	visibility: visible;
}

.captured-semiheader{
	visibility: visible;
}

.omitted{
	visibility: hidden;
}


/* 駒の座標系 /////////////////////////////////////////////////////////////////////// */
.x9{left:105px;} .x8{left:155px;} .x7{left:205px;} .x6{left:255px;} .x5{left:305px;}
 .x4{left:355px;} .x3{left:405px;}.x2{left:455px;} .x1{left:505px;}

.y1{top:32px;} .y2{top:85px;} .y3{top:138px;} .y4{top:191px;} .y5{top:244px;}
.y6{top:297px;} .y7{top:350px;}.y8{top:404px;} .y9{top:457px;}

.wc{top:25px; left:10px;}	.bc{top:145px; left:586px;}

.bg{position: absolute;}

.dock{visibility: hidden;}

#boardimg{
	left:80px;
}

#selectbox{
	position: absolute;
	visibility: hidden;
	top: 480px;
	left: 20px;
	width: 80px;
	height: 55px;
	z-index:1000;
}

.button{
	cursor: pointer;
	float:left;
	width: 35px;
	border: solid 1px #999999;
	height: 30px;
	border-radius: 5px;
	background: rgba(200,200,200,0.8);
	text-align: center;
}

#unpromotion
{
	margin-left: 3px;

}

#ghost{
	width: 60px;
	height: 61px;
}

#ghost.virtual{
	opacity: 0.5;
}
#ghost.hidden
{
	visibility:hidden;
}

.hidden{
	visibility: hidden;
}

