
#RshPanel{
}


#PanelDescription #Description{
	background-color: #FFFFFF;
	border: 1px solid #999999;
	margin:auto;
	width:95%;
	height:70px;
	font-size:12px;
	line-height: 120%;
	overflow-y : scroll;

}

#PanelDescription #DescriptionEditor{
	margin:5px auto;
	width:95%;
	height:70px;
	font-size:12px;
}