<html>
<head>
	<title>テキストローダー</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
	<script type="text/javascript" src="public/js/dropzone/dropzone.js"></script>
</head>
<body>

<h2>棋譜アップローダー</h2>
	<form action="/api/kifu/directTextLoader"  style="border:solid 1px #000000; width:200px;height:200px;" method="post">
	<textarea name="kifText">ここに棋譜ファイルを入力してください</textarea>
	<input type="submit" value="送信" />
</form>
</body>
</html>