<link rel="stylesheet" href="/public/js/jsBoard/shogi.css" type="text/css" />

<script src="/public/js/jsBoard/jsBoard.min.js" type="text/javascript"></script>

<!--
<script src="/public/js/jsBoard/dist/api.js" type="text/javascript"></script>
<script src="/public/js/jsBoard/dist/controller.js" type="text/javascript"></script>
<script src="/public/js/jsBoard/dist/move.js" type="text/javascript"></script>
<script src="/public/js/jsBoard/dist/movable.js" type="text/javascript"></script>
<script src="/public/js/jsBoard/dist/bitBoard.js" type="text/javascript"></script>
<script src="/public/js/jsBoard/dist/triBoard.js" type="text/javascript"></script>
<script src="/public/js/jsBoard/dist/utility.js" type="text/javascript"></script>
<script src="/public/js/jsBoard/dist/pieceStates.js" type="text/javascript"></script>
<script src="/public/js/jsBoard/dist/define.js" type="text/javascript"></script>
-->