<link rel="stylesheet" href="/public/js/jsBoard/shogi.css" type="text/css" />
<script src="/public/js/jsBoard/api.js" type="text/javascript"></script>
<script src="/public/js/jsBoard/bitBoard.js" type="text/javascript"></script>
<script src="/public/js/jsBoard/controller.js" type="text/javascript"></script>
<script src="/public/js/jsBoard/define.js" type="text/javascript"></script>
<script src="/public/js/jsBoard/jsBoard.js" type="text/javascript"></script>
<script src="/public/js/jsBoard/movable.js" type="text/javascript"></script>
<script src="/public/js/jsBoard/move.js" type="text/javascript"></script>
<script src="/public/js/jsBoard/pieceStates.js" type="text/javascript"></script>
<script src="/public/js/jsBoard/triBoard.js" type="text/javascript"></script>
<script src="/public/js/jsBoard/utility.js" type="text/javascript"></script>
