<script>
$(document).ready(function(){
  $('.upside-down').iCheck({
    checkboxClass: 'icheckbox_flat-blue',
    radioClass: 'iradio_flat-blue',
  });
});
</script>
<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">局面ボード</h3>
    <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-toggle="popover" title="局面ボード" data-content="盤上の駒は、マウス(タッチ)で操作することができます。<h6>ポイント</h6><ul><li>駒を動かす際には、現在の手番・王手などが考慮されます。</li><li>指し手の内容は、画面左側の「棋譜」パネルに反映されます。</li>
                </ul>" data-container="body" data-placement="bottom" data-html="true" ><i class="fa fa-question"></i></button>
    </div>
  </div>
  <div class="box-body">


<div class="board center-block" id="jsBoard">
    <!-- checkbox -->
    <div class="toggles">
        <label id="ck-upside-down">
          <input type="checkbox" class="upside-down"/>
        先後を逆転する
      </label>
    </div>



    <div class="slider tri-prev">
    </div>
    <div class="slider tri-next">
    </div>
    <div class="bg" id="boardimg">
<!--      <img id="bgboard" src="" height="540" width="660" /> -->
    </div>
    <div class="piece_area onboard x9 y1" id="pos_91" > </div>
    <div class="piece_area onboard x8 y1" id="pos_81" > </div>
    <div class="piece_area onboard x7 y1" id="pos_71" > </div>
    <div class="piece_area onboard x6 y1" id="pos_61" > </div>
    <div class="piece_area onboard x5 y1" id="pos_51" > </div>
    <div class="piece_area onboard x4 y1" id="pos_41" > </div>
    <div class="piece_area onboard x3 y1" id="pos_31" > </div>
    <div class="piece_area onboard x2 y1" id="pos_21" > </div>
    <div class="piece_area onboard x1 y1" id="pos_11" > </div>

    <div class="piece_area onboard x9 y2" id="pos_92" > </div>
    <div class="piece_area onboard x8 y2" id="pos_82" ></div>
    <div class="piece_area onboard x7 y2" id="pos_72" > </div>
    <div class="piece_area onboard x6 y2" id="pos_62" > </div>
    <div class="piece_area onboard x5 y2" id="pos_52" > </div>
    <div class="piece_area onboard x4 y2" id="pos_42" > </div>
    <div class="piece_area onboard x3 y2" id="pos_32" > </div>
    <div class="piece_area onboard x2 y2" id="pos_22" ></div>
    <div class="piece_area onboard x1 y2" id="pos_12" > </div>

    <div class="piece_area onboard x9 y3" id="pos_93" ></div>
    <div class="piece_area onboard x8 y3" id="pos_83" ></div>
    <div class="piece_area onboard x7 y3" id="pos_73" ></div>
    <div class="piece_area onboard x6 y3" id="pos_63" ></div>
    <div class="piece_area onboard x5 y3" id="pos_53" ></div>
    <div class="piece_area onboard x4 y3" id="pos_43" ></div>
    <div class="piece_area onboard x3 y3" id="pos_33" ></div>
    <div class="piece_area onboard x2 y3" id="pos_23" ></div>
    <div class="piece_area onboard x1 y3" id="pos_13" ></div>

    <div class="piece_area onboard x9 y4" id="pos_94" > </div>
    <div class="piece_area onboard x8 y4" id="pos_84" > </div>
    <div class="piece_area onboard x7 y4" id="pos_74" > </div>
    <div class="piece_area onboard x6 y4" id="pos_64" > </div>
    <div class="piece_area onboard x5 y4" id="pos_54" > </div>
    <div class="piece_area onboard x4 y4" id="pos_44" > </div>
    <div class="piece_area onboard x3 y4" id="pos_34" > </div>
    <div class="piece_area onboard x2 y4" id="pos_24" > </div>
    <div class="piece_area onboard x1 y4" id="pos_14" > </div>

    <div class="piece_area onboard x9 y5" id="pos_95" > </div>
    <div class="piece_area onboard x8 y5" id="pos_85" > </div>
    <div class="piece_area onboard x7 y5" id="pos_75" > </div>
    <div class="piece_area onboard x6 y5" id="pos_65" > </div>
    <div class="piece_area onboard x5 y5" id="pos_55" > </div>
    <div class="piece_area onboard x4 y5" id="pos_45" > </div>
    <div class="piece_area onboard x3 y5" id="pos_35" > </div>
    <div class="piece_area onboard x2 y5" id="pos_25" > </div>
    <div class="piece_area onboard x1 y5" id="pos_15" > </div>

    <div class="piece_area onboard x9 y6" id="pos_96" > </div>
    <div class="piece_area onboard x8 y6" id="pos_86" > </div>
    <div class="piece_area onboard x7 y6" id="pos_76" > </div>
    <div class="piece_area onboard x6 y6" id="pos_66" > </div>
    <div class="piece_area onboard x5 y6" id="pos_56" > </div>
    <div class="piece_area onboard x4 y6" id="pos_46" > </div>
    <div class="piece_area onboard x3 y6" id="pos_36" > </div>
    <div class="piece_area onboard x2 y6" id="pos_26" > </div>
    <div class="piece_area onboard x1 y6" id="pos_16" > </div>

    <div class="piece_area onboard x9 y7" id="pos_97" ></div>
    <div class="piece_area onboard x8 y7" id="pos_87" ></div>
    <div class="piece_area onboard x7 y7" id="pos_77" ></div>
    <div class="piece_area onboard x6 y7" id="pos_67" ></div>
    <div class="piece_area onboard x5 y7" id="pos_57" ></div>
    <div class="piece_area onboard x4 y7" id="pos_47" ></div>
    <div class="piece_area onboard x3 y7" id="pos_37" ></div>
    <div class="piece_area onboard x2 y7" id="pos_27" ></div>
    <div class="piece_area onboard x1 y7" id="pos_17" ></div>

    <div class="piece_area onboard x9 y8" id="pos_98" > </div>
    <div class="piece_area onboard x8 y8" id="pos_88" ></div>
    <div class="piece_area onboard x7 y8" id="pos_78" > </div>
    <div class="piece_area onboard x6 y8" id="pos_68" > </div>
    <div class="piece_area onboard x5 y8" id="pos_58" > </div>
    <div class="piece_area onboard x4 y8" id="pos_48" > </div>
    <div class="piece_area onboard x3 y8" id="pos_38" > </div>
    <div class="piece_area onboard x2 y8" id="pos_28" > </div>
    <div class="piece_area onboard x1 y8" id="pos_18" > </div>

    <div class="piece_area onboard x9 y9" id="pos_99" ></div>
    <div class="piece_area onboard x8 y9" id="pos_89" ></div>
    <div class="piece_area onboard x7 y9" id="pos_79" ></div>
    <div class="piece_area onboard x6 y9" id="pos_69" ></div>
    <div class="piece_area onboard x5 y9" id="pos_59" ></div>
    <div class="piece_area onboard x4 y9" id="pos_49" ></div>
    <div class="piece_area onboard x3 y9" id="pos_39" ></div>
    <div class="piece_area onboard x2 y9" id="pos_29" ></div>
    <div class="piece_area onboard x1 y9" id="pos_19" ></div>

    <div class="piece_area captured wc" id="pos_wc"></div>
    <div class="piece_area captured bc" id="pos_bc"></div>

    <div class="piece_area dock" id="pos_dock">
      <div class="piece"><img /></div><div class="piece"><img /></div><div class="piece"><img /></div>
      <div class="piece"><img /></div><div class="piece"><img /></div><div class="piece"><img /></div>
      <div class="piece"><img /></div><div class="piece"><img /></div><div class="piece"><img /></div>
      <div class="piece"><img /></div><div class="piece"><img /></div>
      <div class="piece"><img /></div><div class="piece"><img /></div><div class="piece"><img /></div>
      <div class="piece"><img /></div><div class="piece"><img /></div><div class="piece"><img /></div>
      <div class="piece"><img /></div><div class="piece"><img /></div><div class="piece"><img /></div>

      <div class="piece"><img /></div><div class="piece"><img /></div><div class="piece"><img /></div>
      <div class="piece"><img /></div><div class="piece"><img /></div><div class="piece"><img /></div>
      <div class="piece"><img /></div><div class="piece"><img /></div><div class="piece"><img /></div>
      <div class="piece"><img /></div><div class="piece"><img /></div>
      <div class="piece"><img /></div><div class="piece"><img /></div><div class="piece"><img /></div>
      <div class="piece"><img /></div><div class="piece"><img /></div><div class="piece"><img /></div>
      <div class="piece"><img /></div><div class="piece"><img /></div><div class="piece"><img /></div>
    </div>

    <div id="selectbox">
      <div class="button" id="promotion">成</div>
      <div class="button" id="unpromotion">不成</div>
    </div>

    <div class="piece_area reserved" id="pos_reserved"></div>

    <div id="ghost" class="hidden">
      <img />
    </div>

     <form id="hidden_info" name="info">
      <input type="hidden" name="RshCurrent" value="{{ .currentCode}}" />
      <input type="hidden" name="RshPrev" value="{{ .previousCode}}" />
      <input type="hidden" name="LastMoveCode" value="{{ .lastMoveCode}}" />
      <input type="hidden" name="LastJsCode" value="{{ .lastJsCode}}" />
      <input type="hidden" name="MoveText" value="" />
    </form>
</div>

            </div><!-- /.box-body -->
          </div><!-- /.box -->
          <!-- /.box -->
