<!DOCTYPE html>
<html>
<head>
  <title>KifCloudとは？</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  {{template "Common/CommonStyles.html" .}}
</head>
<body class="skin-blue">
  <header class="header">
    {{template "Common/TopNavigation.html" .}}
  </header>
  <section class="content">
  	<div class="row">
      <div class="col-lg-3 col-lg-offset-1">
        <div class="box box-solid">
          <div class="box-header with-border">
            <i class="fa fa-list"></i>
          </div>
          <div clss="box-body">
            <ul>
              <li>KifCloudとは？
                <ul>
                  <li>局面コンソール画面</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
  		<div class="col-lg-7 col-md-8">
        <div class="box">
          <div class="box-header with-border">
          <h2 class="box-title">KifCloudとは？</h2>
          </div>
          <div class="box-body">
          <h2>動かせる将棋盤</h2>
          <h4>局面パーマリンク機能</h4>
          <p>
          	これはサンプル用の文面なのです。
          </p>
         </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
  </section>
</html>