<!DOCTYPE html>
<html>
<head>
  <title>KifCloudとは？</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  {{template "Common/CommonStyles.html" .}}
</head>
<body class="skin-blue">
  <header class="header">
    <a href="index.html" class="logo">
      <!-- Add the class icon to your logo image or logo icon to add the margining -->
      KifCloud
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <ul class="nav navbar-nav">
        <li><a href="/about">局面を見る</a></li>      
        <li><a href="#">KifCloudとは？</a></li>      
      </ul>
    </nav>            
  </header>
  <section class="content">
  	<div class="row">
  		<div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <div class="box">
          <div class="box-header with-border">
          <h2 class="box-title">KifCloudとは？</h2>
          </div>
          <div class="box-body">
          <h4>動かせる将棋盤</h4>
          <h4>局面パーマリンク機能</h4>
          <p>
          	これはサンプル用の文面なのです。
          </p>
         </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
  </section>
</html>