{{ set . "index" "0"}}
<!DOCTYPE html>
<html>
<head>
  <title>KifCloud</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- css styles -->
  <link rel="stylesheet" href="/public/css/index.css" type="text/css" />
  <link rel="stylesheet" href="/public/css/adminLTEappend.css" type="text/css" />

  {{template "Common/CommonStyles.html" .}}
  {{template "jsBoard/imports.html" .}}
  {{template "jsKifu/imports.html" .}}  
  <script src="/public/js/modal.js" type="text/javascript"></script>
  <script src="/public/js/panelInfo.js" type="text/javascript"></script>
  <script src="/public/js/PanelTextLoader.js" type="text/javascript"></script>

</head>
<body class="skin-blue">

  <header class="header">
    {{template "Common/TopNavigation.html" .}}
  </header>
  <!-- Main content -->
  <section class="content">

    <div class="row">
      <!-- 棋譜・局面エリア -->
      <div class="col-lg-9 col-md-12">
        <div class="row">
          <div class="col-lg-2 col-md-2 col-sm-3">
            {{template "jsKifu/jsKifu_root.html" .}}
         </div>
          <div class="col-lg-10 col-md-9 col-sm-12">
            {{template "jsBoard/jsBoard.html" .}}
         </div>
        </div>
      </div>
      

      <!-- 左側パネル -->
      <div class="col-lg-3 col-md-12">
        <div class="row">
          <div class="col-lg-12 col-md-4 col-sm-6">
            {{template "Panel/RshPanel.html" .}}          
            {{template "Panel/PanelTextLoader.html" .}}          
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <!-- 下側パネル -->        
    </div>

    {{template "Common/Modal.html" .}}
  </section>
</html>
