<!DOCTYPE html>
<html>
<head>
  <title>KifCloud:リリースノート</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  {{template "Common/CommonStyles.html" .}}
</head>
<body class="skin-blue">
  <header class="header">
    {{template "Common/TopNavigation.html" .}}
  </header>
  <section class="content-header">
          	<div class="col-lg-8 col-lg-offset-2">

          <h2>
            リリースノート
            <small>更新履歴</small>
          </h2>
        </section>  
    </div>

  <section class="content">
  	<div class="row">
          	<div class="col-lg-8 col-lg-offset-2">
          	              <!-- The time line -->
              <ul class="timeline">
                <!-- timeline time label -->
                <li class="time-label">
                  <span class="bg-red">
                  	現在
                  </span>
                </li>
                <!-- /.timeline-label -->
                <!-- timeline item -->
                <li>
                  <i class="fa fa-plus-circle bg-glay"></i>
                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2015年6月20日</span>
                    <h3 class="timeline-header">機能追加＠2015/06/26</h3>
                    <div class="timeline-body">
                      <h5>追加内容</h5>
                      <ul>
                        <li>局面テキスト読み込み時に「同◯◯」形式の符号に対応</li>
                    </div>
                  </div>
                </li>
                <!-- END timeline item -->
                <!-- timeline item -->
                <li>
                  <i class="fa fa-plus-circle bg-glay"></i>
                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2015年6月20日</span>
                    <h3 class="timeline-header">機能追加＠2015/06/20</h3>
                    <div class="timeline-body">
                      <h5>追加内容</h5>
                      <ul>
                        <li>局面ボードに「先後を逆転する」ボタンを追加</li>
                    </div>
                  </div>
                </li>
                <!-- END timeline item -->

                <!-- timeline item -->
                <li>
                  <i class="fa fa-leaf bg-green"></i>
                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2015年6月9日</span>
                    <h3 class="timeline-header">KifCloud:若菜(beta)をリリースしました</h3>
                    <div class="timeline-body">
                    	<h5>主な機能</h5>
                    	<ul>
                    		<li>局面ボード機能</li>
                    		<li>棋譜パネル機能</li>
                    		<li>.kifファイル読み込み機能</li>
                    		<li>局面リンク生成機能</li>
                    	</ul>
                      <p>最初のバージョンということで、まだまだ機能はかなり少なめです。
                      　実際に初めてWeb公開することになるので、まだまだバグ、不具合等も残っております。見つけたらTwitterなどで報告していただけると幸いです。</p><p>次verではいよいよ棋譜登録、コメントなどのクラウド共有系機能を搭載する予定ですので、次のversionにご期待ください！</p>                      
                    </div>
                  </div>
                </li>
                <!-- END timeline item -->
                <!-- timeline item -->
                <li>
                  <i class="fa fa-university bg-orange"></i>
                  <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> 2015年6月9日</span>
                    <h3 class="timeline-header">&nbsp;</h3>
                    <div class="timeline-body">
                    	<h3><i class="fa fa-flag"></i>　KifCloudをオープンしました</h3>
                    </div>
                  </div>
                </li>
                <!-- timeline time label -->
                <li class="time-label">
                  <span class="bg-purple">2015年6月</span>
                </li>
                <!-- END timeline item -->
                <li>
                  <i class="fa fa-clock-o bg-gray"></i>
                </li>
                <!-- /.timeline-label -->
              </ul>
          </div>


         </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
  </section>
</html>