<div class="box box-info" id="panelTextLoader">
	<div class="box-header with-border">
	<i class="ion ion-clipboard"></i>
	<h3 class="box-title">棋譜読み込み</h3>
    <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-toggle="popover" title="棋譜読み込み機能" data-content="棋譜ファイルを読み込むことができます。<br>対応形式：.kif形式" data-placement="bottom" data-html="true" ><i class="fa fa-question"></i></button>
    </div>
	</div>
	<form role="form">
	<div class="box-body">
		<div id="kifTextInput" class="form-group">
			<label class="control-label" for="inputSuccess">
				<i class="fa fa-check"></i>
				棋譜ファイルを読み込みました</label>
			<textarea class="form-control" name="kifText" rows="4" placeholder="ここに.kif形式の棋譜をペーストしてください"></textarea>
			<a href="#" id="ptl-sampleKifu">(サンプル棋譜)</a>
		</div>
	</div>
	<div class="box-footer">
			<input type="submit" class="btn btn-primary" value="読み込み" />
			<input type="reset" class="btn btn-primary" value="クリア" />
	</div>
</form>
</div>
