<!-- Default box -->
<div class="box box-info">
<div class="box-header">
<i class="ion ion-clipboard"></i>                                  
<h3 class="box-title">局面テキスト</h3>
<div class="box-tools pull-right">
<button class="btn btn-default btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
	</div>
	</div>
	<div class="box-body panel" id="PanelDescription" style="height:200px;">
		<div id="Description">
		</div>
		<div id="DescriptionEditor">
			<form name="description_edit" id="pnldesc_form">
			<textarea name="pnldesc_text" rows="5"></textarea>
			<input id="pnldesc_submit" type="submit" text="test" value="送信" />
		</form>
		</div><!-- /.box-body -->
	</div>
</div><!-- /.box -->



