<div class="box box-solid bg-light-blue-gradient">
    <div class="box-header">
    	<!-- tools box -->
    	<i class="fa fa-map-marker"></i>
    	<h5 class="box-title">
    	局面をシェアする
    	</h5>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool btn-primary" title="局面シェア機能" data-toggle="popover" data-content="現在表示されている局面をURLで簡単に共有できます。クリップボードにコピーしてご利用ください。<h6>ポイント</h6><ul><li>最終手の情報は、局面情報には含まれません。</li>" data-container="body" data-placement="bottom" data-html="true" ><i class="fa fa-question"></i></button>
        </div>
    </div>
    <div class="box-body panel" rows="2" id="RshPanel">
        <textarea class="form-control" name="rsh" type="text" placeholder="局面コードが表示されます" /></textarea>
    </div><!-- /.box-body-->
</div>
