<div class="box box-solid bg-light-blue-gradient">
    <div class="box-header">
    	<!-- tools box -->
    	<i class="fa fa-map-marker"></i>
    	<h5 class="box-title">
    	局面をシェアする
    	</h5>
        <div class="box-tools pull-right">
            <button class="btn btn-box-tool btn-primary" title="局面シェア機能" data-toggle="popover" data-content="現在表示されている局面をURLで簡単に共有できます。クリップボードにコピーしてご利用ください。<h6>ポイント</h6><ul><li>「ツイート」ボタンをクリックすると、局面URLがツイートできます！。</li>" data-container="body" data-placement="bottom" data-html="true" ><i class="fa fa-question"></i></button>
        </div>
    </div>
    <div class="box-body panel" rows="2" id="RshPanel" style="min-height:100px;">
        <textarea class="form-control" name="rsh" type="text" placeholder="局面コードが表示されます" readonly/></textarea>
        <div class="tweetButtonWrapper">
           <a href="https://twitter.com/share" class="twitter-share-button"  data-url="http://kifcloud.info/board/" data-text="【#将棋局面シェア】" data-lang="ja" data-count="none">局面をツイート</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
       </div>
    </div><!-- /.box-body-->
</div>
