<!-- modal dialog -->
<div class="modal" role="dialog" area-hidden="true" id="modal" data-backdrop='false'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		    <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left btn-close" data-dismiss="modal">閉じる</button>
        <button type="button" class="btn btn-primary btn-util">test</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
