<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">継ぎ盤</h3>
    <div class="box-tools pull-right">
        <button class="btn btn-box-tool" title="継ぎ盤" data-toggle="popover" data-content="継ぎ盤びゅー" data-container="body" data-placement="bottom" data-html="true" ><i class="fa fa-question"></i></button>
    </div>
  </div>

  <!-- box-body -->
  <div class="box-body">
  <ul id="jkf-node-nav" class="nav nav-tabs">
  <li class="active">
    <a id="jkf-hide-node" href="#tab01" data-toggle="tab">1</a></li>
  <li>
    <a id="jkf-show-node" href="#tab02"  data-toggle="tab">2</a></li>
  </ul>
  <div id="PanelNodeList" class="panel">
  <div class="tab-content">
    <div class="tab-pane active" id="tab01">
      この局面に継ぎ盤は登録されていません。
    </div>
    <div class="tab-pane" id="tab02">
       <div id="PanelNodeList" class="panel">

        <select name="movelist" size="10">
          <option data-rshcurrent="s4h2klfLECLGMPtRyo0e4RpgUghsEA0TfJRpX0" data-rshprev="cIh2klfLECLGMPtHio0e4RpgUghsEA0TfJRpX0" data-lastmovecode="b77GI_68" data-lastjscode="68,77,GIN,false">▲７七銀(68)</option>
          <option data-rshcurrent="s4h2klfLECLGMPtRyo0e4RpgUghsEA0TfJRpX0" data-rshprev="cIh2klfLECLGMPtHio0e4RpgUghsEA0TfJRpX0" data-lastmovecode="b77GI_68" data-lastjscode="68,77,GIN,false">▽８五歩(84)</option>
          <option data-rshcurrent="s4h2klfLECLGMPtRyo0e4RpgUghsEA0TfJRpX0" data-rshprev="cIh2klfLECLGMPtHio0e4RpgUghsEA0TfJRpX0" data-lastmovecode="b77GI_68" data-lastjscode="68,77,GIN,false">▲２六歩(27)</option>
        </select>
      </div>            
    </div>
  </div>
  </div>
  </div><!-- /.box-body -->
</div><!-- /.box -->
