        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">棋譜</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" title="棋譜操作パネル" data-toggle="popover" data-content="読み込んだ棋譜や、局面ボードで操作した指し手の流れが表示されます。必要に応じて、指し手を戻す／進めることができます。" data-container="body" data-placement="bottom" data-html="true" ><i class="fa fa-question"></i></button>
            </div>
          </div>
      <div class="box-body">
			 <div id="PanelMoveList" class="panel">
				<select name="movelist" size="10">
				</select>
			</div>
         </div><!-- /.box-body -->
        </div><!-- /.box -->
